In [1]:
from Cleaner import *
from config import db_password

## Create the DataFrame

### Player Awards
Up-To-Date data from [Sean Lahman](https://www.seanlahman.com/baseball-archive/statistics/)

In [2]:
awards = pd.read_csv('Resources/AwardsPlayers.csv').drop(columns=['tie','notes'])
all_awards = reverseLookup(awards)

Gathering player lookup table. This may take a moment.

### Merge awards and players dataframes

In [3]:
data_NL, data_AL = Merger(all_awards)
data_NL

............Scraping Data.............

1982 Time: 1.976637840270996 Seconds
1983 Time: 1.8624529838562012 Seconds
1984 Time: 1.6975181102752686 Seconds
1985 Time: 1.801002025604248 Seconds
1986 Time: 1.8019063472747803 Seconds

.....Approximately 76-96 Seconds.....

Total Time: 82.34192657470703 Seconds

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,xBA,xSLG,xwOBA,mlb_played_first,mlb_played_last,playerID,awardID,yearID,lgID,MVP
6,1002015,1982,Gary Carter,MON,28,154,557,653,163,101,...,NaN,NaN,NaN,1974.0,1992.0,cartega01,Gold Glove,1982.0,NL,0
7,1002015,1982,Gary Carter,MON,28,154,557,653,163,101,...,NaN,NaN,NaN,1974.0,1992.0,cartega01,Silver Slugger,1982.0,NL,0
8,1002015,1982,Gary Carter,MON,28,154,557,653,163,101,...,NaN,NaN,NaN,1974.0,1992.0,cartega01,TSN All-Star,1982.0,NL,0
9,1003091,1982,Andre Dawson,MON,27,148,607,659,183,116,...,NaN,NaN,NaN,1976.0,1996.0,dawsoan01,Gold Glove,1982.0,NL,0
11,1011586,1982,Mike Schmidt,PHI,32,148,514,631,144,80,...,NaN,NaN,NaN,1972.0,1989.0,schmimi01,Gold Glove,1982.0,NL,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,3516,2021,Eric Hosmer,SDP,31,151,509,565,137,97,...,0.268,0.406,0.326,NaN,NaN,NaN,No Award,NaN,NL,0
137,7859,2021,Charlie Blackmon,COL,34,150,514,582,139,97,...,0.291,0.450,0.359,NaN,NaN,NaN,No Award,NaN,NL,0
138,19892,2021,Pavin Smith,ARI,25,145,498,545,133,91,...,0.258,0.402,0.317,NaN,NaN,NaN,No Award,NaN,NL,0
139,12552,2021,Eugenio Suarez,CIN,29,145,505,574,100,46,...,0.215,0.455,0.326,NaN,NaN,NaN,No Award,NaN,NL,0
141,17696,2021,Kevin Newman,PIT,27,148,517,554,117,87,...,0.255,0.330,0.275,NaN,NaN,NaN,No Award,NaN,NL,0

### National League Check

In [4]:
new = all_awards.loc[(all_awards['awardID']=='Most Valuable Player') &
              (all_awards['lgID']=='NL')].sort_values(by = ['yearID']).tail(40)
print(new['Name'].nunique())
new['Name'].unique()

30

array(['Dale Murphy', 'Ryne Sandberg', 'Willie Mcgee', 'Mike Schmidt',
       'Andre Dawson', 'Kirk Gibson', 'Kevin Mitchell', 'Barry Bonds',
       'Terry Pendleton', 'Jeff Bagwell', 'Barry Larkin', 'Ken Caminiti',
       'Larry Walker', 'Sammy Sosa', 'Chipper Jones', 'Jeff Kent',
       'Albert Pujols', 'Ryan Howard', 'Jimmy Rollins', 'Joey Votto',
       'Ryan Braun', 'Buster Posey', 'Andrew Mccutchen',
       'Clayton Kershaw', 'Bryce Harper', 'Kris Bryant',
       'Giancarlo Stanton', 'Christian Yelich', 'Cody Bellinger',
       'Freddie Freeman'], dtype=object)

In [5]:
mvpVerify(data_NL).head(13)

There are/is 26 unique mvps over 36 Seasons
['Dale Murphy' 'Ryne Sandberg' 'Mike Schmidt' 'Andre Dawson' 'Kirk Gibson'
 'Kevin Mitchell' 'Barry Bonds' 'Terry Pendleton' 'Jeff Bagwell'
 'Barry Larkin' 'Ken Caminiti' 'Larry Walker' 'Sammy Sosa' 'Chipper Jones'
 'Jeff Kent' 'Albert Pujols' 'Ryan Howard' 'Jimmy Rollins' 'Joey Votto'
 'Ryan Braun' 'Buster Posey' 'Bryce Harper' 'Kris Bryant'
 'Giancarlo Stanton' 'Christian Yelich' 'Cody Bellinger']

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,xBA,xSLG,xwOBA,mlb_played_first,mlb_played_last,playerID,awardID,yearID,lgID,MVP
18,1009355,1982,Dale Murphy,ATL,26,162,598,698,168,107,...,NaN,NaN,NaN,1976.0,1993.0,murphda05,Gold Glove,1982.0,NL,1
19,1009355,1982,Dale Murphy,ATL,26,162,598,698,168,107,...,NaN,NaN,NaN,1976.0,1993.0,murphda05,Most Valuable Player,1982.0,NL,1
20,1009355,1982,Dale Murphy,ATL,26,162,598,698,168,107,...,NaN,NaN,NaN,1976.0,1993.0,murphda05,Silver Slugger,1982.0,NL,1
21,1009355,1982,Dale Murphy,ATL,26,162,598,698,168,107,...,NaN,NaN,NaN,1976.0,1993.0,murphda05,TSN All-Star,1982.0,NL,1
22,1009355,1982,Dale Murphy,ATL,26,162,598,698,168,107,...,NaN,NaN,NaN,1976.0,1993.0,murphda05,TSN Player of the Year,1982.0,NL,1
9,1009355,1983,Dale Murphy,ATL,27,162,589,687,178,114,...,NaN,NaN,NaN,1976.0,1993.0,murphda05,Gold Glove,1983.0,NL,1
10,1009355,1983,Dale Murphy,ATL,27,162,589,687,178,114,...,NaN,NaN,NaN,1976.0,1993.0,murphda05,Most Valuable Player,1983.0,NL,1
11,1009355,1983,Dale Murphy,ATL,27,162,589,687,178,114,...,NaN,NaN,NaN,1976.0,1993.0,murphda05,Silver Slugger,1983.0,NL,1
12,1009355,1983,Dale Murphy,ATL,27,162,589,687,178,114,...,NaN,NaN,NaN,1976.0,1993.0,murphda05,TSN All-Star,1983.0,NL,1
13,1009355,1983,Dale Murphy,ATL,27,162,589,687,178,114,...,NaN,NaN,NaN,1976.0,1993.0,murphda05,TSN Player of the Year,1983.0,NL,1
2,1011411,1984,Ryne Sandberg,CHC,24,156,636,700,200,126,...,NaN,NaN,NaN,1981.0,1997.0,sandbry01,Gold Glove,1984.0,NL,1
3,1011411,1984,Ryne Sandberg,CHC,24,156,636,700,200,126,...,NaN,NaN,NaN,1981.0,1997.0,sandbry01,Most Valuable Player,1984.0,NL,1
4,1011411,1984,Ryne Sandberg,CHC,24,156,636,700,200,126,...,NaN,NaN,NaN,1981.0,1997.0,sandbry01,Silver Slugger,1984.0,NL,1

### American League Check

In [6]:
new = all_awards.loc[(all_awards['awardID']=='Most Valuable Player') &
              (all_awards['lgID']=='AL')].sort_values(by = ['yearID']).tail(40)
print(new['Name'].nunique())
new['Name'].unique()

31

array(['Robin Yount', 'Cal Ripken', 'Willie Hernandez', 'Don Mattingly',
       'Roger Clemens', 'George Bell', 'Jose Canseco', 'Rickey Henderson',
       'Dennis Eckersley', 'Frank Thomas', 'Mo Vaughn', 'Juan Gonzalez',
       'Ken Griffey', 'Ivan Rodriguez', 'Jason Giambi', 'Ichiro Suzuki',
       'Miguel Tejada', 'Alex Rodriguez', 'Vladimir Guerrero',
       'Justin Morneau', 'Dustin Pedroia', 'Joe Mauer', 'Josh Hamilton',
       'Justin Verlander', 'Miguel Cabrera', 'Mike Trout',
       'Josh Donaldson', 'Jose Altuve', 'Mookie Betts', 'José Abreu',
       'Shohei Ohtani'], dtype=object)

In [7]:
mvpVerify(data_AL).head(13)

There are/is 25 unique mvps over 34 Seasons
['Robin Yount' 'Cal Ripken' 'Don Mattingly' 'George Bell' 'Jose Canseco'
 'Rickey Henderson' 'Frank Thomas' 'Mo Vaughn' 'Juan Gonzalez'
 'Ivan Rodriguez' 'Jason Giambi' 'Ichiro Suzuki' 'Miguel Tejada'
 'Alex Rodriguez' 'Vladimir Guerrero' 'Justin Morneau' 'Dustin Pedroia'
 'Joe Mauer' 'Josh Hamilton' 'Miguel Cabrera' 'Mike Trout'
 'Josh Donaldson' 'Jose Altuve' 'Mookie Betts' 'Shohei Ohtani']

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,xBA,xSLG,xwOBA,mlb_played_first,mlb_played_last,playerID,awardID,yearID,lgID,MVP
0,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,NaN,NaN,NaN,1974.0,1993.0,yountro01,Gold Glove,1982.0,AL,1
1,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,NaN,NaN,NaN,1974.0,1993.0,yountro01,Most Valuable Player,1982.0,AL,1
2,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,NaN,NaN,NaN,1974.0,1993.0,yountro01,Silver Slugger,1982.0,AL,1
3,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,NaN,NaN,NaN,1974.0,1993.0,yountro01,TSN All-Star,1982.0,AL,1
4,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,NaN,NaN,NaN,1974.0,1993.0,yountro01,TSN Major League Player of the Year,1982.0,AL,1
5,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,NaN,NaN,NaN,1974.0,1993.0,yountro01,TSN Player of the Year,1982.0,AL,1
0,1010978,1983,Cal Ripken,BAL,22,162,663,726,211,135,...,NaN,NaN,NaN,1981.0,2001.0,ripkeca01,Most Valuable Player,1983.0,AL,1
1,1010978,1983,Cal Ripken,BAL,22,162,663,726,211,135,...,NaN,NaN,NaN,1981.0,2001.0,ripkeca01,Silver Slugger,1983.0,AL,1
2,1010978,1983,Cal Ripken,BAL,22,162,663,726,211,135,...,NaN,NaN,NaN,1981.0,2001.0,ripkeca01,TSN All-Star,1983.0,AL,1
3,1010978,1983,Cal Ripken,BAL,22,162,663,726,211,135,...,NaN,NaN,NaN,1981.0,2001.0,ripkeca01,TSN Major League Player of the Year,1983.0,AL,1
4,1010978,1983,Cal Ripken,BAL,22,162,663,726,211,135,...,NaN,NaN,NaN,1981.0,2001.0,ripkeca01,TSN Player of the Year,1983.0,AL,1
12,1008261,1985,Don Mattingly,NYY,24,159,652,727,211,125,...,NaN,NaN,NaN,1982.0,1995.0,mattido01,Gold Glove,1985.0,AL,1
13,1008261,1985,Don Mattingly,NYY,24,159,652,727,211,125,...,NaN,NaN,NaN,1982.0,1995.0,mattido01,Most Valuable Player,1985.0,AL,1

In [9]:
data_AL.to_csv('data_AL.csv')
data_NL.to_csv('data_NL.csv')

In [10]:
data_AL.reset_index(drop=True, inplace=True)

In [11]:
data_NL.reset_index(drop=True, inplace=True)

In [12]:
data_AL['XBH+'] = (((data_AL['R'] + data_AL['2B'] + data_AL['3B'] + data_AL['HR']) - (data_AL['SO']))/data_AL['PA'])
data_AL.head()

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,xSLG,xwOBA,mlb_played_first,mlb_played_last,playerID,awardID,yearID,lgID,MVP,XBH+
0,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,NaN,NaN,1974.0,1993.0,yountro01,Gold Glove,1982.0,AL,1,0.21733
1,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,NaN,NaN,1974.0,1993.0,yountro01,Most Valuable Player,1982.0,AL,1,0.21733
2,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,NaN,NaN,1974.0,1993.0,yountro01,Silver Slugger,1982.0,AL,1,0.21733
3,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,NaN,NaN,1974.0,1993.0,yountro01,TSN All-Star,1982.0,AL,1,0.21733
4,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,NaN,NaN,1974.0,1993.0,yountro01,TSN Major League Player of the Year,1982.0,AL,1,0.21733

In [13]:
data_NL['XBH+'] = (((data_NL['R'] + data_NL['2B'] + data_NL['3B'] + data_NL['HR']) - (data_NL['SO']))/data_NL['PA'])
data_NL.head()

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,xSLG,xwOBA,mlb_played_first,mlb_played_last,playerID,awardID,yearID,lgID,MVP,XBH+
0,1002015,1982,Gary Carter,MON,28,154,557,653,163,101,...,NaN,NaN,1974.0,1992.0,cartega01,Gold Glove,1982.0,NL,0,0.136294
1,1002015,1982,Gary Carter,MON,28,154,557,653,163,101,...,NaN,NaN,1974.0,1992.0,cartega01,Silver Slugger,1982.0,NL,0,0.136294
2,1002015,1982,Gary Carter,MON,28,154,557,653,163,101,...,NaN,NaN,1974.0,1992.0,cartega01,TSN All-Star,1982.0,NL,0,0.136294
3,1003091,1982,Andre Dawson,MON,27,148,607,659,183,116,...,NaN,NaN,1976.0,1996.0,dawsoan01,Gold Glove,1982.0,NL,0,0.119879
4,1011586,1982,Mike Schmidt,PHI,32,148,514,631,144,80,...,NaN,NaN,1972.0,1989.0,schmimi01,Gold Glove,1982.0,NL,0,0.064976

## Export to Postgre

Make sure this connection string work:

 1) Verify connection points, and import config with variable db_password=YOUR_POSTGRE_PASSWORD
 
 2) Creating a Raw_Stats database in Postgre
 
 3) Drop 'AL' and 'NL' tables if they exist

In [15]:
engine = create_engine(f"postgresql://postgres:{db_password}@127.0.0.1:5432/MLB_DB")

data_NL.to_sql(name='national_league', con=engine)
data_AL.to_sql(name='american_league', con=engine)