# Using the Cleaner to import our raw data (similar to what's in the database).
## Creating and cleaning the two dataframes (AL and NL), merging the dataframes, and saving the dataframe as a CSV to potentially be used in the machine learning model.

In [1]:
from Cleaner import *
from config import db_password

In [2]:
awards = pd.read_csv('Resources/AwardsPlayers.csv').drop(columns=['tie','notes'])
all_awards = reverseLookup(awards)

Gathering player lookup table. This may take a moment.

In [3]:
data_NL, data_AL = Merger(all_awards)
data_NL

............Scraping Data.............

1982 Time: 1.303178310394287 Seconds
1983 Time: 1.0621318817138672 Seconds
1984 Time: 1.0054984092712402 Seconds
1985 Time: 1.1292080879211426 Seconds
1986 Time: 1.1643903255462646 Seconds

.....Approximately 43-53 Seconds.....

Total Time: 50.30759835243225 Seconds

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,xBA,xSLG,xwOBA,mlb_played_first,mlb_played_last,playerID,awardID,yearID,lgID,MVP
6,1002015,1982,Gary Carter,MON,28,154,557,653,163,101,...,NaN,NaN,NaN,1974.0,1992.0,cartega01,Gold Glove,1982.0,NL,0
7,1002015,1982,Gary Carter,MON,28,154,557,653,163,101,...,NaN,NaN,NaN,1974.0,1992.0,cartega01,Silver Slugger,1982.0,NL,0
8,1002015,1982,Gary Carter,MON,28,154,557,653,163,101,...,NaN,NaN,NaN,1974.0,1992.0,cartega01,TSN All-Star,1982.0,NL,0
9,1003091,1982,Andre Dawson,MON,27,148,607,659,183,116,...,NaN,NaN,NaN,1976.0,1996.0,dawsoan01,Gold Glove,1982.0,NL,0
11,1011586,1982,Mike Schmidt,PHI,32,148,514,631,144,80,...,NaN,NaN,NaN,1972.0,1989.0,schmimi01,Gold Glove,1982.0,NL,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,3516,2021,Eric Hosmer,SDP,31,151,509,565,137,97,...,0.268,0.406,0.326,NaN,NaN,NaN,No Award,NaN,NL,0
137,7859,2021,Charlie Blackmon,COL,34,150,514,582,139,97,...,0.291,0.450,0.359,NaN,NaN,NaN,No Award,NaN,NL,0
138,19892,2021,Pavin Smith,ARI,25,145,498,545,133,91,...,0.258,0.402,0.317,NaN,NaN,NaN,No Award,NaN,NL,0
139,12552,2021,Eugenio Suarez,CIN,29,145,505,574,100,46,...,0.215,0.455,0.326,NaN,NaN,NaN,No Award,NaN,NL,0
141,17696,2021,Kevin Newman,PIT,27,148,517,554,117,87,...,0.255,0.330,0.275,NaN,NaN,NaN,No Award,NaN,NL,0

In [4]:
# Clean data_NL
# Dropped all columns with NaN values 

data_NL = data_NL.dropna(axis=1)
data_NL

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,BB%+,K%+,OBP+,SLG+,ISO+,BABIP+,Events,awardID,lgID,MVP
6,1002015,1982,Gary Carter,MON,28,154,557,653,163,101,...,142,78,116,132,181,98,0,Gold Glove,NL,0
7,1002015,1982,Gary Carter,MON,28,154,557,653,163,101,...,142,78,116,132,181,98,0,Silver Slugger,NL,0
8,1002015,1982,Gary Carter,MON,28,154,557,653,163,101,...,142,78,116,132,181,98,0,TSN All-Star,NL,0
9,1003091,1982,Andre Dawson,MON,27,148,607,659,183,116,...,62,114,105,129,164,112,0,Gold Glove,NL,0
11,1011586,1982,Mike Schmidt,PHI,32,148,514,631,144,80,...,202,165,122,142,222,106,0,Gold Glove,NL,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,3516,2021,Eric Hosmer,SDP,31,151,509,565,137,97,...,92,79,103,94,73,106,413,No Award,NL,0
137,7859,2021,Charlie Blackmon,COL,34,150,514,582,139,97,...,101,70,107,98,82,104,426,No Award,NL,0
138,19892,2021,Pavin Smith,ARI,25,145,498,545,133,91,...,84,87,101,96,80,108,393,No Award,NL,0
139,12552,2021,Eugenio Suarez,CIN,29,145,505,574,100,46,...,106,134,88,102,134,76,339,No Award,NL,0
141,17696,2021,Kevin Newman,PIT,27,148,517,554,117,87,...,53,33,81,74,49,80,485,No Award,NL,0

In [5]:
# Make a list of the columns to determine which columns should be kept

list(data_NL.columns)

['IDfg',
 'Season',
 'Name',
 'Team',
 'Age',
 'G',
 'AB',
 'PA',
 'H',
 '1B',
 '2B',
 '3B',
 'HR',
 'R',
 'RBI',
 'BB',
 'IBB',
 'SO',
 'HBP',
 'SF',
 'SH',
 'GDP',
 'SB',
 'CS',
 'AVG',
 'BB%',
 'K%',
 'BB/K',
 'OBP',
 'SLG',
 'OPS',
 'ISO',
 'BABIP',
 'wOBA',
 'wRAA',
 'wRC',
 'Bat',
 'Fld',
 'Rep',
 'Pos',
 'RAR',
 'WAR',
 'Spd',
 'wRC+',
 'WPA',
 '-WPA',
 '+WPA',
 'RE24',
 'REW',
 'pLI',
 'PH',
 'WPA/LI',
 'Clutch',
 'BsR',
 'Def',
 'wSB',
 'Age Rng',
 'Off',
 'Lg',
 'TTO%',
 'AVG+',
 'BB%+',
 'K%+',
 'OBP+',
 'SLG+',
 'ISO+',
 'BABIP+',
 'Events',
 'awardID',
 'lgID',
 'MVP']

In [6]:
# Google each stat to determine it's meaning and relevance. 
# Determined that some stats were fielding, pitching, or otherwise irrelevant to our task at hand.

data_NL = data_NL[[ 'G',
 'AB',
 'PA',
 'H',
 '1B',
 '2B',
 '3B',
 'HR',
 'R',
 'RBI',
 'BB',
 'IBB',
 'SO',
 'HBP',
 'SF',
 'SH',
 'SB',
 'AVG',
 'OBP',
 'SLG', 
 'OPS',
 'ISO',
 'BABIP',
 'wOBA',
 'wRAA',
 'wRC',
 'WAR',
 'Spd',
 'wRC+',
 'WPA',
 '-WPA',
 '+WPA',
 'RE24',
 'REW',
 'pLI',
 'WPA/LI',
 'Clutch',
 'BsR',
 'wSB',
 'Off',
 'AVG+',
 'OBP+',
 'SLG+',
 'ISO+',
 'BABIP+',
 'MVP']]

data_NL

,G,AB,PA,H,1B,2B,3B,HR,R,RBI,...,Clutch,BsR,wSB,Off,AVG+,OBP+,SLG+,ISO+,BABIP+,MVP
6,154,557,653,163,101,32,1,29,91,97,...,-1.05,-1.6,-1.6,34.9,110,116,132,181,98,0
7,154,557,653,163,101,32,1,29,91,97,...,-1.05,-1.6,-1.6,34.9,110,116,132,181,98,0
8,154,557,653,163,101,32,1,29,91,97,...,-1.05,-1.6,-1.6,34.9,110,116,132,181,98,0
9,148,607,659,183,116,37,7,23,107,83,...,-0.85,3.9,3.9,30.8,114,105,129,164,112,0
11,148,514,631,144,80,26,3,35,108,87,...,-0.47,0.1,0.1,42.9,105,122,142,222,106,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,151,509,565,137,97,28,0,12,53,65,...,0.32,-5.5,-1.2,-3.8,108,103,94,73,106,0
137,150,514,582,139,97,25,4,13,76,78,...,0.52,1.4,0.0,-2.8,109,107,98,82,104,0
138,145,498,545,133,91,27,4,11,68,49,...,-0.13,-2.4,-0.3,-5.2,107,101,96,80,108,0
139,145,505,574,100,46,23,0,31,71,79,...,-1.37,-4.1,-0.8,-15.1,80,88,102,134,76,0
141,148,517,554,117,87,22,3,5,50,39,...,0.79,5.1,0.4,-27.4,91,81,74,49,80,0

In [7]:
# Remove duplicate rows that were present due to players winning multiple awards in one year (see original, raw dataframe)

data_NL = data_NL.drop_duplicates()
data_NL

,G,AB,PA,H,1B,2B,3B,HR,R,RBI,...,Clutch,BsR,wSB,Off,AVG+,OBP+,SLG+,ISO+,BABIP+,MVP
6,154,557,653,163,101,32,1,29,91,97,...,-1.05,-1.6,-1.6,34.9,110,116,132,181,98,0
9,148,607,659,183,116,37,7,23,107,83,...,-0.85,3.9,3.9,30.8,114,105,129,164,112,0
11,148,514,631,144,80,26,3,35,108,87,...,-0.47,0.1,0.1,42.9,105,122,142,222,106,0
16,150,575,652,175,111,27,5,32,87,100,...,-0.98,2.4,2.4,43.2,115,115,139,192,108,0
18,162,598,698,168,107,23,2,36,113,109,...,0.50,0.3,0.3,34.9,106,115,131,188,106,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,151,509,565,137,97,28,0,12,53,65,...,0.32,-5.5,-1.2,-3.8,108,103,94,73,106,0
137,150,514,582,139,97,25,4,13,76,78,...,0.52,1.4,0.0,-2.8,109,107,98,82,104,0
138,145,498,545,133,91,27,4,11,68,49,...,-0.13,-2.4,-0.3,-5.2,107,101,96,80,108,0
139,145,505,574,100,46,23,0,31,71,79,...,-1.37,-4.1,-0.8,-15.1,80,88,102,134,76,0
141,148,517,554,117,87,22,3,5,50,39,...,0.79,5.1,0.4,-27.4,91,81,74,49,80,0

In [8]:
# Count instances of MVP winners to make sure our data makes sense 

data_NL['MVP'].value_counts()[1]

36

In [9]:
# Repeat the above cleaning on the data_AL data set
# Merge both data_NL and data_AL afterwards 

data_AL

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,xBA,xSLG,xwOBA,mlb_played_first,mlb_played_last,playerID,awardID,yearID,lgID,MVP
0,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,NaN,NaN,NaN,1974.0,1993.0,yountro01,Gold Glove,1982.0,AL,1
1,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,NaN,NaN,NaN,1974.0,1993.0,yountro01,Most Valuable Player,1982.0,AL,1
2,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,NaN,NaN,NaN,1974.0,1993.0,yountro01,Silver Slugger,1982.0,AL,1
3,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,NaN,NaN,NaN,1974.0,1993.0,yountro01,TSN All-Star,1982.0,AL,1
4,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,NaN,NaN,NaN,1974.0,1993.0,yountro01,TSN Major League Player of the Year,1982.0,AL,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,4418,2021,Jed Lowrie,OAK,37,139,457,512,112,70,...,0.259,0.464,0.343,NaN,NaN,NaN,No Award,NaN,AL,0
140,10243,2021,Randal Grichuk,TOR,29,149,511,545,123,75,...,0.234,0.402,0.297,NaN,NaN,NaN,No Award,NaN,AL,0
143,2396,2021,Carlos Santana,KCR,35,158,565,659,121,87,...,0.244,0.421,0.335,NaN,NaN,NaN,No Award,NaN,AL,0
144,1744,2021,Miguel Cabrera,DET,38,130,472,526,121,90,...,0.234,0.420,0.315,NaN,NaN,NaN,No Award,NaN,AL,0
145,15117,2021,Hunter Dozier,KCR,29,144,487,543,105,56,...,0.224,0.388,0.299,NaN,NaN,NaN,No Award,NaN,AL,0

In [10]:
# Dropped all columns with NaN values 

data_AL = data_AL.dropna(axis=1)
data_AL

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,BB%+,K%+,OBP+,SLG+,ISO+,BABIP+,Events,awardID,lgID,MVP
0,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,91,71,115,144,179,116,0,Gold Glove,AL,1
1,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,91,71,115,144,179,116,0,Most Valuable Player,AL,1
2,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,91,71,115,144,179,116,0,Silver Slugger,AL,1
3,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,91,71,115,144,179,116,0,TSN All-Star,AL,1
4,1014396,1982,Robin Yount,MIL,26,156,635,704,210,123,...,91,71,115,144,179,116,0,TSN Major League Player of the Year,AL,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,4418,2021,Jed Lowrie,OAK,37,139,457,512,112,70,...,113,92,101,96,90,99,353,No Award,AL,0
140,10243,2021,Randal Grichuk,TOR,29,149,511,545,123,75,...,58,91,89,102,107,91,401,No Award,AL,0
143,2396,2021,Carlos Santana,KCR,35,158,565,659,121,87,...,154,68,101,82,75,78,468,No Award,AL,0
144,1744,2021,Miguel Cabrera,DET,38,130,472,526,121,90,...,90,98,100,93,76,104,363,No Award,AL,0
145,15117,2021,Hunter Dozier,KCR,29,144,487,543,105,56,...,93,124,90,95,105,94,339,No Award,AL,0

In [11]:
# Google each stat to determine it's meaning and relevance. 
# Determined that some stats were fielding, pitching, or otherwise irrelevant to our task at hand.

data_AL = data_AL[[ 'G',
 'AB',
 'PA',
 'H',
 '1B',
 '2B',
 '3B',
 'HR',
 'R',
 'RBI',
 'BB',
 'IBB',
 'SO',
 'HBP',
 'SF',
 'SH',
 'SB',
 'AVG',
 'OBP',
 'SLG', 
 'OPS',
 'ISO',
 'BABIP',
 'wOBA',
 'wRAA',
 'wRC',
 'WAR',
 'Spd',
 'wRC+',
 'WPA',
 '-WPA',
 '+WPA',
 'RE24',
 'REW',
 'pLI',
 'WPA/LI',
 'Clutch',
 'BsR',
 'wSB',
 'Off',
 'AVG+',
 'OBP+',
 'SLG+',
 'ISO+',
 'BABIP+',
 'MVP']]

data_AL

,G,AB,PA,H,1B,2B,3B,HR,R,RBI,...,Clutch,BsR,wSB,Off,AVG+,OBP+,SLG+,ISO+,BABIP+,MVP
0,156,635,704,210,123,46,12,29,129,114,...,-0.63,1.6,1.6,54.7,125,115,144,179,116,1
1,156,635,704,210,123,46,12,29,129,114,...,-0.63,1.6,1.6,54.7,125,115,144,179,116,1
2,156,635,704,210,123,46,12,29,129,114,...,-0.63,1.6,1.6,54.7,125,115,144,179,116,1
3,156,635,704,210,123,46,12,29,129,114,...,-0.63,1.6,1.6,54.7,125,115,144,179,116,1
4,156,635,704,210,123,46,12,29,129,114,...,-0.63,1.6,1.6,54.7,125,115,144,179,116,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,139,457,512,112,70,28,0,14,55,69,...,1.61,-1.6,-0.4,-1.4,100,101,96,90,99,0
140,149,511,545,123,75,25,1,22,59,81,...,-1.14,-4.9,-1.6,-14.7,98,89,102,107,91,0
143,158,565,659,121,87,15,0,19,66,69,...,0.25,-0.8,-0.2,-14.6,87,101,82,75,78,0
144,130,472,526,121,90,16,0,15,48,75,...,0.53,-6.3,-0.5,-11.4,104,100,93,76,104,0
145,144,487,543,105,56,27,6,16,55,54,...,-0.79,-1.4,-1.0,-13.3,88,90,95,105,94,0

In [12]:
# Remove duplicate rows that were present due to players winning multiple awards in one year (see original, raw dataframe)

data_AL = data_AL.drop_duplicates()
data_AL

,G,AB,PA,H,1B,2B,3B,HR,R,RBI,...,Clutch,BsR,wSB,Off,AVG+,OBP+,SLG+,ISO+,BABIP+,MVP
0,156,635,704,210,123,46,12,29,129,114,...,-0.63,1.6,1.6,54.7,125,115,144,179,116,1
10,153,575,655,173,96,42,5,30,94,97,...,-1.68,-0.6,-0.6,35.7,114,112,136,179,107,0
14,162,609,727,178,102,37,7,32,122,98,...,-0.87,-0.2,-0.2,44.2,111,123,133,175,114,0
23,162,602,708,183,125,29,4,25,100,78,...,0.00,2.2,2.2,37.5,115,121,122,135,106,0
24,151,550,627,174,111,30,1,32,87,110,...,1.72,0.6,0.6,40.0,120,119,136,168,114,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,139,457,512,112,70,28,0,14,55,69,...,1.61,-1.6,-0.4,-1.4,100,101,96,90,99,0
140,149,511,545,123,75,25,1,22,59,81,...,-1.14,-4.9,-1.6,-14.7,98,89,102,107,91,0
143,158,565,659,121,87,15,0,19,66,69,...,0.25,-0.8,-0.2,-14.6,87,101,82,75,78,0
144,130,472,526,121,90,16,0,15,48,75,...,0.53,-6.3,-0.5,-11.4,104,100,93,76,104,0
145,144,487,543,105,56,27,6,16,55,54,...,-0.79,-1.4,-1.0,-13.3,88,90,95,105,94,0

In [13]:
# Count instances of MVP winners to make sure our data makes sense 

data_AL['MVP'].value_counts()[1]

34

In [14]:
# Going back and adding Lindsay's new metric to each data_NL and data_AL
data_NL['XBH+'] = (((data_NL['R'] + data_NL['2B'] + data_NL['3B'] + data_NL['HR']) - (data_NL['SO']))/data_NL['PA'])
data_NL.head()

,G,AB,PA,H,1B,2B,3B,HR,R,RBI,...,BsR,wSB,Off,AVG+,OBP+,SLG+,ISO+,BABIP+,MVP,XBH+
6,154,557,653,163,101,32,1,29,91,97,...,-1.6,-1.6,34.9,110,116,132,181,98,0,0.136294
9,148,607,659,183,116,37,7,23,107,83,...,3.9,3.9,30.8,114,105,129,164,112,0,0.119879
11,148,514,631,144,80,26,3,35,108,87,...,0.1,0.1,42.9,105,122,142,222,106,0,0.064976
16,150,575,652,175,111,27,5,32,87,100,...,2.4,2.4,43.2,115,115,139,192,108,0,0.095092
18,162,598,698,168,107,23,2,36,113,109,...,0.3,0.3,34.9,106,115,131,188,106,1,0.057307

In [15]:
data_AL['XBH+'] = (((data_AL['R'] + data_AL['2B'] + data_AL['3B'] + data_AL['HR']) - (data_AL['SO']))/data_AL['PA'])
data_AL.head()

,G,AB,PA,H,1B,2B,3B,HR,R,RBI,...,BsR,wSB,Off,AVG+,OBP+,SLG+,ISO+,BABIP+,MVP,XBH+
0,156,635,704,210,123,46,12,29,129,114,...,1.6,1.6,54.7,125,115,144,179,116,1,0.217330
10,153,575,655,173,96,42,5,30,94,97,...,-0.6,-0.6,35.7,114,112,136,179,107,0,0.138931
14,162,609,727,178,102,37,7,32,122,98,...,-0.2,-0.2,44.2,111,123,133,175,114,0,0.100413
23,162,602,708,183,125,29,4,25,100,78,...,2.2,2.2,37.5,115,121,122,135,106,0,0.149718
24,151,550,627,174,111,30,1,32,87,110,...,0.6,0.6,40.0,120,119,136,168,114,0,0.108453

In [16]:
# Merge the final data_NL and data_AL datasets 
cleaned_merged_df = pd.concat([data_NL, data_AL], axis=0)
cleaned_merged_df

,G,AB,PA,H,1B,2B,3B,HR,R,RBI,...,BsR,wSB,Off,AVG+,OBP+,SLG+,ISO+,BABIP+,MVP,XBH+
6,154,557,653,163,101,32,1,29,91,97,...,-1.6,-1.6,34.9,110,116,132,181,98,0,0.136294
9,148,607,659,183,116,37,7,23,107,83,...,3.9,3.9,30.8,114,105,129,164,112,0,0.119879
11,148,514,631,144,80,26,3,35,108,87,...,0.1,0.1,42.9,105,122,142,222,106,0,0.064976
16,150,575,652,175,111,27,5,32,87,100,...,2.4,2.4,43.2,115,115,139,192,108,0,0.095092
18,162,598,698,168,107,23,2,36,113,109,...,0.3,0.3,34.9,106,115,131,188,106,1,0.057307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,139,457,512,112,70,28,0,14,55,69,...,-1.6,-0.4,-1.4,100,101,96,90,99,0,-0.021484
140,149,511,545,123,75,25,1,22,59,81,...,-4.9,-1.6,-14.7,98,89,102,107,91,0,-0.012844
143,158,565,659,121,87,15,0,19,66,69,...,-0.8,-0.2,-14.6,87,101,82,75,78,0,-0.003035
144,130,472,526,121,90,16,0,15,48,75,...,-6.3,-0.5,-11.4,104,100,93,76,104,0,-0.074144
145,144,487,543,105,56,27,6,16,55,54,...,-1.4,-1.0,-13.3,88,90,95,105,94,0,-0.092081

In [17]:
# Count instances of MVP winners to make sure our data makes sense 

cleaned_merged_df['MVP'].value_counts()[1]

70

In [18]:
# Saving cleaned_merged_df as a CSV. I think this dataframe has potential to be used in the machine learning model.

cleaned_merged_df.to_csv('Resources/cleaned_merged_df.csv')