# Machine Learning

In [1]:
from Machine_Learning import *

#### Retrieve Data From Postgres

In [2]:
data_NL, data_AL = getData()

## Preprocessing

### National League Cleaning

In [3]:
data_NL = preProcessing(data_NL)
data_NL.head()

,G,AB,PA,H,1B,2B,3B,HR,R,RBI,...,BsR,wSB,Off,AVG+,OBP+,SLG+,ISO+,BABIP+,MVP,XBH+
0,154,557,653,163,101,32,1,29,91,97,...,-1.6,-1.6,34.9,110,116,132,181,98,0,0.136294
3,148,607,659,183,116,37,7,23,107,83,...,3.9,3.9,30.8,114,105,129,164,112,0,0.119879
4,148,514,631,144,80,26,3,35,108,87,...,0.1,0.1,42.9,105,122,142,222,106,0,0.064976
7,150,575,652,175,111,27,5,32,87,100,...,2.4,2.4,43.2,115,115,139,192,108,0,0.095092
9,162,598,698,168,107,23,2,36,113,109,...,0.3,0.3,34.9,106,115,131,188,106,1,0.057307

### American League Cleaning

In [4]:
data_AL = preProcessing(data_AL)
data_AL.head()

,G,AB,PA,H,1B,2B,3B,HR,R,RBI,...,BsR,wSB,Off,AVG+,OBP+,SLG+,ISO+,BABIP+,MVP,XBH+
0,156,635,704,210,123,46,12,29,129,114,...,1.6,1.6,54.7,125,115,144,179,116,1,0.217330
6,153,575,655,173,96,42,5,30,94,97,...,-0.6,-0.6,35.7,114,112,136,179,107,0,0.138931
8,162,609,727,178,102,37,7,32,122,98,...,-0.2,-0.2,44.2,111,123,133,175,114,0,0.100413
10,162,602,708,183,125,29,4,25,100,78,...,2.2,2.2,37.5,115,121,122,135,106,0,0.149718
11,151,550,627,174,111,30,1,32,87,110,...,0.6,0.6,40.0,120,119,136,168,114,0,0.108453

## Logistic Regression

### National League

In [5]:
new_data_NL = createLogisticRegression(data_NL, 'nl')
new_data_NL.head()

0.988391376451078

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,MVP,XBH+,lgID
0,9218,2022,Paul Goldschmidt,STL,34,119,450,520,152,85,...,0.467,347,0.194,0.289,0.267,0.511,0.377,1,0.094231,NL
2,9777,2022,Nolan Arenado,STL,31,116,440,491,132,72,...,0.395,382,0.164,0.252,0.267,0.453,0.342,0,0.120163,NL
5,13611,2022,Mookie Betts,LAD,29,106,439,491,122,64,...,0.449,363,0.176,0.239,0.257,0.468,0.348,0,0.154786,NL
1,5361,2022,Freddie Freeman,LAD,32,124,485,554,158,98,...,0.472,409,0.121,0.207,0.318,0.544,0.404,0,0.120939,NL
6,11493,2022,Manny Machado,SDP,29,116,445,499,132,78,...,0.483,348,0.130,0.240,0.263,0.441,0.337,0,0.066132,NL

### American League

In [6]:
new_data_AL = createLogisticRegression(data_AL, 'al')
new_data_AL.head()

0.9904761904761905

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,MVP,XBH+,lgID
0,15640,2022,Aaron Judge,NYY,30,122,454,539,135,66,...,0.604,326,0.176,0.290,0.298,0.696,0.453,1,0.064935,AL
4,13510,2022,Jose Ramirez,CLE,29,120,459,519,130,64,...,0.376,412,0.155,0.214,0.266,0.424,0.335,0,0.159923,AL
1,19556,2022,Yordan Alvarez,HOU,25,108,374,449,110,60,...,0.610,292,0.167,0.255,0.321,0.649,0.452,0,0.089087,AL
2,17350,2022,Rafael Devers,BOS,25,108,433,473,130,71,...,0.517,350,0.104,0.253,0.288,0.519,0.367,0,0.090909,AL
5,19950,2022,Andres Gimenez,CLE,23,111,368,413,112,74,...,0.388,291,0.150,0.281,0.267,0.434,0.340,0,0.009685,AL

## Export to Postgres

In [7]:
engine = sqlalchemy.create_engine(f"postgresql://postgres:{db_password}@127.0.0.1:5432/Raw_Stats")

new_data_NL.to_sql(name='NLMVP', con=engine)
new_data_AL.to_sql(name='ALMVP', con=engine)

70