In [1]:
#pip install psycopg2-binary

In [2]:
from pybaseball import batting_stats
from pybaseball import bwar_bat
from pybaseball import batting_stats_range
from pybaseball import playerid_reverse_lookup
from sqlalchemy import create_engine
from pathlib import Path
import numpy as np
import pandas as pd
import psycopg2

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

from Cleaner import *
from config import db_password

In [3]:
data = batting_stats(2015)

batting_df = pd.DataFrame(data)
batting_df.head()

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA
0,11579,2015,Bryce Harper,WSN,22,153,521,654,172,91,...,0.122,116.0,188,0.477,394,0.118,0.226,0.292,0.544,0.418
3,10155,2015,Mike Trout,LAA,23,159,575,682,172,93,...,0.161,117.7,205,0.486,422,0.207,0.282,0.297,0.588,0.422
5,5038,2015,Josh Donaldson,TOR,29,158,620,711,184,100,...,0.114,113.6,232,0.465,499,0.145,0.255,0.280,0.546,0.390
1,4314,2015,Joey Votto,CIN,31,158,545,695,171,107,...,0.095,109.3,175,0.425,412,0.177,0.254,0.289,0.541,0.422
2,9218,2015,Paul Goldschmidt,ARI,27,159,567,695,182,109,...,0.123,114.0,197,0.465,424,0.181,0.266,0.279,0.558,0.403

In [4]:
batting_df = batting_df.dropna(axis=1)
batting_df

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA
0,11579,2015,Bryce Harper,WSN,22,153,521,654,172,91,...,0.122,116.0,188,0.477,394,0.118,0.226,0.292,0.544,0.418
3,10155,2015,Mike Trout,LAA,23,159,575,682,172,93,...,0.161,117.7,205,0.486,422,0.207,0.282,0.297,0.588,0.422
5,5038,2015,Josh Donaldson,TOR,29,158,620,711,184,100,...,0.114,113.6,232,0.465,499,0.145,0.255,0.280,0.546,0.390
1,4314,2015,Joey Votto,CIN,31,158,545,695,171,107,...,0.095,109.3,175,0.425,412,0.177,0.254,0.289,0.541,0.422
2,9218,2015,Paul Goldschmidt,ARI,27,159,567,695,182,109,...,0.123,114.0,197,0.465,424,0.181,0.266,0.279,0.558,0.403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,5760,2015,Avisail Garcia,CHW,24,148,553,601,142,110,...,0.043,116.1,156,0.375,416,0.095,0.268,0.271,0.409,0.324
139,1433,2015,Wilson Ramos,WSN,27,128,475,504,109,78,...,0.058,114.2,170,0.445,382,0.127,0.248,0.250,0.410,0.300
97,7399,2015,Billy Butler,OAK,29,151,538,601,135,91,...,0.070,110.0,177,0.401,441,0.194,0.273,0.249,0.441,0.335
140,10030,2015,Chris Owings,ARI,23,147,515,552,117,81,...,0.026,107.6,95,0.249,381,0.161,0.288,0.227,0.325,0.261
128,5409,2015,Pablo Sandoval,BOS,28,126,470,505,115,79,...,0.045,114.0,133,0.333,400,0.108,0.210,0.227,0.352,0.279

In [5]:
parsed_batting_df = batting_df[["Barrel%", "HardHit%","xwOBA", "WAR", "wRC+"]]
parsed_batting_df.head()

   Barrel%  HardHit%  xwOBA  WAR  wRC+
0    0.122     0.477  0.418  9.3   197
3    0.161     0.486  0.422  9.3   171
5    0.114     0.465  0.390  8.7   154
1    0.095     0.425  0.422  7.3   174
2    0.123     0.465  0.403  7.2   163

In [6]:
parsed_batting_df

     Barrel%  HardHit%  xwOBA  WAR  wRC+
0      0.122     0.477  0.418  9.3   197
3      0.161     0.486  0.422  9.3   171
5      0.114     0.465  0.390  8.7   154
1      0.095     0.425  0.422  7.3   174
2      0.123     0.465  0.403  7.2   163
..       ...       ...    ...  ...   ...
123    0.043     0.375  0.324 -0.3    86
139    0.058     0.445  0.300 -0.5    62
97     0.070     0.401  0.335 -0.8    98
140    0.026     0.249  0.261 -1.1    51
128    0.045     0.333  0.279 -1.2    76

[141 rows x 5 columns]

In [7]:
parsed_batting_df['MVP'] = 0
parsed_batting_df.head()

/var/folders/md/c5vgk9m90bj9h79zw2w2qjph0000gn/T/ipykernel_60320/1478014797.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parsed_batting_df['MVP'] = 0

   Barrel%  HardHit%  xwOBA  WAR  wRC+  MVP
0    0.122     0.477  0.418  9.3   197    0
3    0.161     0.486  0.422  9.3   171    0
5    0.114     0.465  0.390  8.7   154    0
1    0.095     0.425  0.422  7.3   174    0
2    0.123     0.465  0.403  7.2   163    0

In [8]:
parsed_batting_df.at[5, 'MVP']=1
parsed_batting_df.at[0, 'MVP']=1

In [9]:
#batting_df.to_csv('batting_df.csv')

In [10]:
y = parsed_batting_df['MVP'].values
X = parsed_batting_df.drop(['MVP'],1).values

/var/folders/md/c5vgk9m90bj9h79zw2w2qjph0000gn/T/ipykernel_60320/562582035.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = parsed_batting_df.drop(['MVP'],1).values

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [12]:
classifier = LogisticRegression(solver='lbfgs')
classifier

LogisticRegression()

In [13]:
# Train the data
classifier.fit(X_train, y_train)

LogisticRegression()

In [14]:
y_pred = classifier.predict(X_test)

In [15]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

1.0

In [16]:
start_year = 2008
end_year = 2021

awards = pd.read_csv('Resources/AwardsPlayers.csv').drop(columns=['tie','notes'])
mvp_awards = awards.sort_values('yearID').loc[
    (awards['yearID'] >= start_year) & (awards['awardID'] == 'Most Valuable Player')]

mvp_awards.tail()

       playerID               awardID  yearID lgID
6311  troutmi01  Most Valuable Player    2019   AL
6387  freemfr01  Most Valuable Player    2020   NL
6386  abreujo02  Most Valuable Player    2020   AL
6460  harpebr03  Most Valuable Player    2021   NL
6459  ohtansh01  Most Valuable Player    2021   AL

In [17]:
mvp_awards = reverseLookup(mvp_awards)
mvp_awards.head()

Gathering player lookup table. This may take a moment.

,Name,mlb_played_first,mlb_played_last,playerID,awardID,yearID,lgID
0,José Abreu,2014.0,2022.0,abreujo02,Most Valuable Player,2020,AL
1,Jose Altuve,2011.0,2022.0,altuvjo01,Most Valuable Player,2017,AL
2,Cody Bellinger,2017.0,2022.0,bellico01,Most Valuable Player,2019,NL
3,Mookie Betts,2014.0,2022.0,bettsmo01,Most Valuable Player,2018,AL
4,Ryan Braun,2007.0,2020.0,braunry02,Most Valuable Player,2011,NL

In [18]:
all_awards = reverseLookup(awards)

all_awards.head()

,Name,mlb_played_first,mlb_played_last,playerID,awardID,yearID,lgID
0,Hank Aaron,1954.0,1976.0,aaronha01,TSN All-Star,1956,ML
1,Hank Aaron,1954.0,1976.0,aaronha01,TSN Player of the Year,1956,NL
2,Hank Aaron,1954.0,1976.0,aaronha01,Most Valuable Player,1957,NL
3,Hank Aaron,1954.0,1976.0,aaronha01,Gold Glove,1958,NL
4,Hank Aaron,1954.0,1976.0,aaronha01,TSN All-Star,1958,ML

In [19]:
warnings.simplefilter('ignore')
data_NL = Merger(start_year, end_year, mvp_awards, all_awards, 'Maj-NL')

data_NL.head()

160.6244716644287 Seconds

,Name,Age,#days,Lev,Tm,G,PA,AB,R,H,...,SB,CS,BA,OBP,SLG,OPS,year_ID,WAR,MVP,awardID
0,Reggie Abercrombie,27,5063,Maj-NL,Houston,32,60,55,10,17,...,5,2,0.309,0.339,0.509,0.848,2008.0,0.42,0,No Award
1,Manny Acosta,27,5147,Maj-NL,Atlanta,4,5,5,0,0,...,0,0,0.000,0.000,0.000,0.000,2008.0,-0.05,0,No Award
2,Mike Adams,29,5092,Maj-NL,San Diego,2,2,2,0,0,...,0,0,0.000,0.000,0.000,0.000,2008.0,-0.03,0,No Award
3,Jeremy Affeldt,29,5228,Maj-NL,Cincinnati,1,1,1,0,0,...,0,0,0.000,0.000,0.000,0.000,2008.0,-0.01,0,No Award
4,Chris Aguila,29,5143,Maj-NL,New York,8,15,12,0,2,...,0,0,0.167,0.286,0.167,0.452,2008.0,-0.18,0,No Award

In [20]:
warnings.simplefilter('ignore')
data_AL = Merger(start_year, end_year, mvp_awards, all_awards, 'Maj-AL')

data_AL.head()

165.11055278778076 Seconds

,Name,Age,#days,Lev,Tm,G,PA,AB,R,H,...,SB,CS,BA,OBP,SLG,OPS,year_ID,WAR,MVP,awardID
0,David Aardsma,26,5155,Maj-AL,Boston,1,1,1,0,0,...,0,0,0.000,0.000,0.000,0.000,2008.0,-0.02,0,No Award
1,Bobby Abreu,34,5063,Maj-AL,New York,150,660,587,97,173,...,22,7,0.295,0.371,0.475,0.847,2008.0,2.67,0,No Award
2,Brian Anderson,26,5061,Maj-AL,Chicago,84,191,179,24,42,...,5,1,0.235,0.275,0.441,0.716,2008.0,0.78,0,No Award
3,Garret Anderson,36,5063,Maj-AL,Los Angeles,136,563,528,63,154,...,7,2,0.292,0.325,0.428,0.753,2008.0,0.85,0,No Award
4,Joaquin Arias,23,5064,Maj-AL,Texas,30,120,110,15,32,...,4,1,0.291,0.345,0.409,0.754,2008.0,0.28,0,No Award

In [21]:
mvpVerify(data_NL)

There are/is 10 unique mvps
['Albert Pujols' 'Joey Votto' 'Ryan Braun' 'Buster Posey'
 'Clayton Kershaw' 'Bryce Harper' 'Giancarlo Stanton' 'Christian Yelich'
 'Cody Bellinger' 'Freddie Freeman']

,Name,Age,#days,Lev,Tm,G,PA,AB,R,H,...,SB,CS,BA,OBP,SLG,OPS,year_ID,WAR,MVP,awardID
512,Albert Pujols,28,5063,Maj-NL,St. Louis,141,616,507,98,181,...,6,2,0.357,0.458,0.659,1.117,2008.0,9.24,1,Most Valuable Player
513,Albert Pujols,28,5063,Maj-NL,St. Louis,141,616,507,98,181,...,6,2,0.357,0.458,0.659,1.117,2008.0,9.24,1,Roberto Clemente Award
514,Albert Pujols,28,5063,Maj-NL,St. Louis,141,616,507,98,181,...,6,2,0.357,0.458,0.659,1.117,2008.0,9.24,1,Silver Slugger
515,Albert Pujols,28,5063,Maj-NL,St. Louis,141,616,507,98,181,...,6,2,0.357,0.458,0.659,1.117,2008.0,9.24,1,TSN Major League Player of the Year
496,Albert Pujols,29,4692,Maj-NL,St. Louis,159,695,564,124,183,...,16,3,0.325,0.440,0.656,1.096,2009.0,9.73,1,Hank Aaron Award
497,Albert Pujols,29,4692,Maj-NL,St. Louis,159,695,564,124,183,...,16,3,0.325,0.440,0.656,1.096,2009.0,9.73,1,Lou Gehrig Memorial Award
498,Albert Pujols,29,4692,Maj-NL,St. Louis,159,695,564,124,183,...,16,3,0.325,0.440,0.656,1.096,2009.0,9.73,1,Most Valuable Player
499,Albert Pujols,29,4692,Maj-NL,St. Louis,159,695,564,124,183,...,16,3,0.325,0.440,0.656,1.096,2009.0,9.73,1,Silver Slugger
500,Albert Pujols,29,4692,Maj-NL,St. Louis,159,695,564,124,183,...,16,3,0.325,0.440,0.656,1.096,2009.0,9.73,1,TSN Major League Player of the Year
613,Joey Votto,26,4328,Maj-NL,Cincinnati,148,643,542,104,174,...,16,4,0.321,0.423,0.594,1.017,2010.0,6.97,1,Hank Aaron Award
614,Joey Votto,26,4328,Maj-NL,Cincinnati,148,643,542,104,174,...,16,4,0.321,0.423,0.594,1.017,2010.0,6.97,1,Most Valuable Player
60,Ryan Braun,27,3968,Maj-NL,Milwaukee,144,604,543,104,180,...,33,5,0.332,0.394,0.595,0.989,2011.0,7.74,1,Most Valuable Player
61,Ryan Braun,27,3968,Maj-NL,Milwaukee,144,604,543,104,180,...,33,5,0.332,0.394,0.595,0.989,2011.0,7.74,1,Silver Slugger
479,Buster Posey,25,3597,Maj-NL,San Francisco,147,605,526,78,176,...,1,1,0.335,0.407,0.549,0.956,2012.0,7.56,1,Comeback Player of the Year
480,Buster Posey,25,3597,Maj-NL,San Francisco,147,605,526,78,176,...,1,1,0.335,0.407,0.549,0.956,2012.0,7.56,1,Hank Aaron Award
481,Buster Posey,25,3597,Maj-NL,San Francisco,147,605,526,78,176,...,1,1,0.335,0.407,0.549,0.956,2012.0,7.56,1,Most Valuable Player
482,Buster Posey,25,3597,Maj-NL,San Francisco,147,605,526,78,176,...,1,1,0.335,0.407,0.549,0.956,2012.0,7.56,1,Silver Slugger
288,Clayton Kershaw,26,2876,Maj-NL,Los Angeles,24,71,60,5,10,...,1,0,0.167,0.231,0.200,0.431,2014.0,0.49,1,Cy Young Award
289,Clayton Kershaw,26,2876,Maj-NL,Los Angeles,24,71,60,5,10,...,1,0,0.167,0.231,0.200,0.431,2014.0,0.49,1,Most Valuable Player
290,Clayton Kershaw,26,2876,Maj-NL,Los Angeles,24,71,60,5,10,...,1,0,0.167,0.231,0.200,0.431,2014.0,0.49,1,TSN Major League Player of the Year
252,Bryce Harper,22,2501,Maj-NL,Washington,152,650,517,117,170,...,6,4,0.329,0.460,0.644,1.104,2015.0,9.74,1,Hank Aaron Award
253,Bryce Harper,22,2501,Maj-NL,Washington,152,650,517,117,170,...,6,4,0.329,0.460,0.644,1.104,2015.0,9.74,1,Most Valuable Player
254,Bryce Harper,22,2501,Maj-NL,Washington,152,650,517,117,170,...,6,4,0.329,0.460,0.644,1.104,2015.0,9.74,1,Silver Slugger
525,Giancarlo Stanton,27,1773,Maj-NL,Miami,156,679,584,122,165,...,2,2,0.283,0.379,0.639,1.017,2017.0,7.93,1,Most Valuable Player
526,Giancarlo Stanton,27,1773,Maj-NL,Miami,156,679,584,122,165,...,2,2,0.283,0.379,0.639,1.017,2017.0,7.93,1,Hank Aaron Award
527,Giancarlo Stanton,27,1773,Maj-NL,Miami,156,679,584,122,165,...,2,2,0.283,0.379,0.639,1.017,2017.0,7.93,1,Silver Slugger
528,Giancarlo Stanton,27,1773,Maj-NL,Miami,156,679,584,122,165,...,2,2,0.283,0.379,0.639,1.017,2017.0,7.93,1,TSN All-Star
660,Christian Yelich,26,1408,Maj-NL,Milwaukee,141,624,548,112,177,...,22,4,0.323,0.402,0.599,1.001,2018.0,7.26,1,Most Valuable Player
661,Christian Yelich,26,1408,Maj-NL,Milwaukee,141,624,548,112,177,...,22,4,0.323,0.402,0.599,1.001,2018.0,7.26,1,Hank Aaron Award
662,Christian Yelich,26,1408,Maj-NL,Milwaukee,141,624,548,112,177,...,22,4,0.323,0.402,0.599,1.001,2018.0,7.26,1,Silver Slugger
663,Christian Yelich,26,1408,Maj-NL,Milwaukee,141,624,548,112,177,...,22,4,0.323,0.402,0.599,1.001,2018.0,7.26,1,TSN All-Star
55,Cody Bellinger,23,1045,Maj-NL,Los Angeles,147,619,519,108,153,...,14,4,0.295,0.402,0.603,1.005,2019.0,8.63,1,Most Valuable Player
56,Cody Bellinger,23,1045,Maj-NL,Los Angeles,147,619,519,108,153,...,14,4,0.295,0.402,0.603,1.005,2019.0,8.63,1,Silver Slugger
57,Cody Bellinger,23,1045,Maj-NL,Los Angeles,147,619,519,108,153,...,14,4,0.295,0.402,0.603,1.005,2019.0,8.63,1,Gold Glove
58,Cody Bellinger,23,1045,Maj-NL,Los Angeles,147,619,519,108,153,...,14,4,0.295,0.402,0.603,1.005,2019.0,8.63,1,TSN All-Star
110,Freddie Freeman,30,681,Maj-NL,Atlanta,60,262,214,51,73,...,2,0,0.341,0.462,0.640,1.102,2020.0,3.30,1,Most Valuable Player
111,Freddie Freeman,30,681,Maj-NL,Atlanta,60,262,214,51,73,...,2,0,0.341,0.462,0.640,1.102,2020.0,3.30,1,Hank Aaron Award
112,Freddie Freeman,30,681,Maj-NL,Atlanta,60,262,214,51,73,...,2,0,0.341,0.462,0.640,1.102,2020.0,3.30,1,Silver Slugger
113,Freddie Freeman,30,681,Maj-NL,Atlanta,60,262,214,51,73,...,2,0,0.341,0.462,0.640,1.102,2020.0,3.30,1,TSN All-Star
275,Bryce Harper,28,310,Maj-NL,Philadelphia,136,577,473,99,148,...,13,3,0.313,0.428,0.628,1.056,2021.0,5.86,1,Most Valuable Player
276,Bryce Harper,28,310,Maj-NL,Philadelphia,136,577,473,99,148,...,13,3,0.313,0.428,0.628,1.056,2021.0,5.86,1,Hank Aaron Award
277,Bryce Harper,28,310,Maj-NL,Philadelphia,136,577,473,99,148,...,13,3,0.313,0.428,0.628,1.056,2021.0,5.86,1,Silver Slugger
278,Bryce Harper,28,310,Maj-NL,Philadelphia,136,577,473,99,148,...,13,3,0.313,0.428,0.628,1.056,2021.0,5.86,1,TSN All-Star

In [22]:
mvpVerify(data_AL)

There are/is 10 unique mvps
['Dustin Pedroia' 'Joe Mauer' 'Josh Hamilton' 'Justin Verlander'
 'Miguel Cabrera' 'Mike Trout' 'Josh Donaldson' 'Jose Altuve'
 'Mookie Betts' 'Shohei Ohtani']

,Name,Age,#days,Lev,Tm,G,PA,AB,R,H,...,SB,CS,BA,OBP,SLG,OPS,year_ID,WAR,MVP,awardID
259,Dustin Pedroia,24,5063,Maj-AL,Boston,150,695,625,117,206,...,20,0,0.330,0.379,0.501,0.880,2008.0,6.95,1,Gold Glove
260,Dustin Pedroia,24,5063,Maj-AL,Boston,150,695,625,117,206,...,20,0,0.330,0.379,0.501,0.880,2008.0,6.95,1,Most Valuable Player
261,Dustin Pedroia,24,5063,Maj-AL,Boston,150,695,625,117,206,...,20,0,0.330,0.379,0.501,0.880,2008.0,6.95,1,Silver Slugger
224,Joe Mauer,26,4692,Maj-AL,Minnesota,137,600,519,94,189,...,4,1,0.364,0.442,0.586,1.027,2009.0,7.83,1,Gold Glove
225,Joe Mauer,26,4692,Maj-AL,Minnesota,137,600,519,94,189,...,4,1,0.364,0.442,0.586,1.027,2009.0,7.83,1,Most Valuable Player
226,Joe Mauer,26,4692,Maj-AL,Minnesota,137,600,519,94,189,...,4,1,0.364,0.442,0.586,1.027,2009.0,7.83,1,Silver Slugger
138,Josh Hamilton,29,4328,Maj-AL,Texas,132,567,515,94,186,...,8,1,0.361,0.412,0.637,1.049,2010.0,8.71,1,ALCS MVP
139,Josh Hamilton,29,4328,Maj-AL,Texas,132,567,515,94,186,...,8,1,0.361,0.412,0.637,1.049,2010.0,8.71,1,Most Valuable Player
140,Josh Hamilton,29,4328,Maj-AL,Texas,132,567,515,94,186,...,8,1,0.361,0.412,0.637,1.049,2010.0,8.71,1,Silver Slugger
141,Josh Hamilton,29,4328,Maj-AL,Texas,132,567,515,94,186,...,8,1,0.361,0.412,0.637,1.049,2010.0,8.71,1,TSN Major League Player of the Year
352,Justin Verlander,28,4069,Maj-AL,Detroit,1,4,4,0,0,...,0,0,0.000,0.000,0.000,0.000,2011.0,-0.06,1,Cy Young Award
353,Justin Verlander,28,4069,Maj-AL,Detroit,1,4,4,0,0,...,0,0,0.000,0.000,0.000,0.000,2011.0,-0.06,1,Most Valuable Player
354,Justin Verlander,28,4069,Maj-AL,Detroit,1,4,4,0,0,...,0,0,0.000,0.000,0.000,0.000,2011.0,-0.06,1,Pitching Triple Crown
355,Justin Verlander,28,4069,Maj-AL,Detroit,1,4,4,0,0,...,0,0,0.000,0.000,0.000,0.000,2011.0,-0.06,1,TSN Major League Player of the Year
356,Justin Verlander,28,4069,Maj-AL,Detroit,1,4,4,0,0,...,0,0,0.000,0.000,0.000,0.000,2011.0,-0.06,1,TSN Pitcher of the Year
41,Miguel Cabrera,29,3597,Maj-AL,Detroit,160,693,621,109,205,...,4,1,0.330,0.391,0.607,0.998,2012.0,7.14,1,Hank Aaron Award
42,Miguel Cabrera,29,3597,Maj-AL,Detroit,160,693,621,109,205,...,4,1,0.330,0.391,0.607,0.998,2012.0,7.14,1,Most Valuable Player
43,Miguel Cabrera,29,3597,Maj-AL,Detroit,160,693,621,109,205,...,4,1,0.330,0.391,0.607,0.998,2012.0,7.14,1,Silver Slugger
44,Miguel Cabrera,29,3597,Maj-AL,Detroit,160,693,621,109,205,...,4,1,0.330,0.391,0.607,0.998,2012.0,7.14,1,Triple Crown
45,Miguel Cabrera,29,3597,Maj-AL,Detroit,160,693,621,109,205,...,4,1,0.330,0.391,0.607,0.998,2012.0,7.14,1,TSN Major League Player of the Year
53,Miguel Cabrera,30,3237,Maj-AL,Detroit,142,628,535,98,186,...,3,0,0.348,0.441,0.645,1.086,2013.0,7.49,1,Hank Aaron Award
54,Miguel Cabrera,30,3237,Maj-AL,Detroit,142,628,535,98,186,...,3,0,0.348,0.441,0.645,1.086,2013.0,7.49,1,Most Valuable Player
55,Miguel Cabrera,30,3237,Maj-AL,Detroit,142,628,535,98,186,...,3,0,0.348,0.441,0.645,1.086,2013.0,7.49,1,Silver Slugger
56,Miguel Cabrera,30,3237,Maj-AL,Detroit,142,628,535,98,186,...,3,0,0.348,0.441,0.645,1.086,2013.0,7.49,1,TSN Major League Player of the Year
418,Mike Trout,22,2872,Maj-AL,Los Angeles,151,679,579,112,166,...,16,2,0.287,0.377,0.556,0.933,2014.0,7.71,1,All-Star Game MVP
419,Mike Trout,22,2872,Maj-AL,Los Angeles,151,679,579,112,166,...,16,2,0.287,0.377,0.556,0.933,2014.0,7.71,1,Hank Aaron Award
420,Mike Trout,22,2872,Maj-AL,Los Angeles,151,679,579,112,166,...,16,2,0.287,0.377,0.556,0.933,2014.0,7.71,1,Most Valuable Player
421,Mike Trout,22,2872,Maj-AL,Los Angeles,151,679,579,112,166,...,16,2,0.287,0.377,0.556,0.933,2014.0,7.71,1,Silver Slugger
99,Josh Donaldson,29,2501,Maj-AL,Toronto,157,707,616,122,184,...,6,0,0.299,0.373,0.571,0.944,2015.0,7.11,1,Hank Aaron Award
100,Josh Donaldson,29,2501,Maj-AL,Toronto,157,707,616,122,184,...,6,0,0.299,0.373,0.571,0.944,2015.0,7.11,1,Most Valuable Player
101,Josh Donaldson,29,2501,Maj-AL,Toronto,157,707,616,122,184,...,6,0,0.299,0.373,0.571,0.944,2015.0,7.11,1,Silver Slugger
102,Josh Donaldson,29,2501,Maj-AL,Toronto,157,707,616,122,184,...,6,0,0.299,0.373,0.571,0.944,2015.0,7.11,1,TSN Major League Player of the Year
10,Jose Altuve,27,1773,Maj-AL,Houston,149,645,573,112,201,...,32,5,0.351,0.416,0.559,0.975,2017.0,7.67,1,Most Valuable Player
11,Jose Altuve,27,1773,Maj-AL,Houston,149,645,573,112,201,...,32,5,0.351,0.416,0.559,0.975,2017.0,7.67,1,Hank Aaron Award
12,Jose Altuve,27,1773,Maj-AL,Houston,149,645,573,112,201,...,32,5,0.351,0.416,0.559,0.975,2017.0,7.67,1,Silver Slugger
13,Jose Altuve,27,1773,Maj-AL,Houston,149,645,573,112,201,...,32,5,0.351,0.416,0.559,0.975,2017.0,7.67,1,TSN All-Star
41,Mookie Betts,25,1409,Maj-AL,Boston,129,583,494,125,171,...,28,5,0.346,0.437,0.648,1.085,2018.0,10.68,1,Most Valuable Player
42,Mookie Betts,25,1409,Maj-AL,Boston,129,583,494,125,171,...,28,5,0.346,0.437,0.648,1.085,2018.0,10.68,1,Silver Slugger
43,Mookie Betts,25,1409,Maj-AL,Boston,129,583,494,125,171,...,28,5,0.346,0.437,0.648,1.085,2018.0,10.68,1,Gold Glove
44,Mookie Betts,25,1409,Maj-AL,Boston,129,583,494,125,171,...,28,5,0.346,0.437,0.648,1.085,2018.0,10.68,1,TSN All-Star
398,Mike Trout,27,1067,Maj-AL,Los Angeles,125,562,444,105,127,...,10,0,0.286,0.431,0.628,1.059,2019.0,7.89,1,Most Valuable Player
399,Mike Trout,27,1067,Maj-AL,Los Angeles,125,562,444,105,127,...,10,0,0.286,0.431,0.628,1.059,2019.0,7.89,1,Hank Aaron Award
400,Mike Trout,27,1067,Maj-AL,Los Angeles,125,562,444,105,127,...,10,0,0.286,0.431,0.628,1.059,2019.0,7.89,1,Silver Slugger
401,Mike Trout,27,1067,Maj-AL,Los Angeles,125,562,444,105,127,...,10,0,0.286,0.431,0.628,1.059,2019.0,7.89,1,TSN All-Star
309,Shohei Ohtani,26,310,Maj-AL,Los Angeles,149,618,517,97,132,...,24,10,0.255,0.374,0.588,0.962,2021.0,4.93,1,Most Valuable Player
310,Shohei Ohtani,26,310,Maj-AL,Los Angeles,149,618,517,97,132,...,24,10,0.255,0.374,0.588,0.962,2021.0,4.93,1,Silver Slugger
311,Shohei Ohtani,26,310,Maj-AL,Los Angeles,149,618,517,97,132,...,24,10,0.255,0.374,0.588,0.962,2021.0,4.93,1,Outstanding DH Award
312,Shohei Ohtani,26,310,Maj-AL,Los Angeles,149,618,517,97,132,...,24,10,0.255,0.374,0.588,0.962,2021.0,4.93,1,TSN All-Star

In [23]:
engine = create_engine(f"postgresql://postgres:{db_password}@127.0.0.1:5432/Raw_Stats")

data_NL.to_sql(name='NL', con=engine)
data_AL.to_sql(name='AL', con=engine)

OperationalError: (psycopg2.OperationalError) connection to server at "127.0.0.1", port 5432 failed: FATAL:  database "Raw_Stats" does not exist

(Background on this error at: https://sqlalche.me/e/14/e3q8)